version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "io.github.belgif.rest.problem:*"
      - dependency-name: "jakarta.platform:jakarta.jakartaee-api"
        update-types: ["version-update:semver-major"]
      - dependency-name: "jakarta.enterprise:jakarta.enterprise.cdi-api"
      - dependency-name: "javax.enterprise:cdi-api"
      - dependency-name: "jakarta.ejb:jakarta.ejb-api"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.springframework.boot:spring-boot-dependencies"
        update-types: ["version-update:semver-major"]
      - dependency-name: "io.rest-assured:rest-assured"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.jboss.resteasy:resteasy-client-microprofile"
      - dependency-name: "org.jboss.weld:weld-junit5"
      - dependency-name: "org.hibernate.validator:hibernate-validator"
      - dependency-name: "com.fasterxml.jackson.core:jackson-databind"
    groups:
      maven:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
